*{
    padding: 0%;
    margin: 0%;
}
.main{
    
  background-color: indigo;
  height: 800px;
  .container{
    display: flex;
    background-color: white;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 100px;
    left: 200px;
    
    .logo{
        position: absolute;
    }
    
    .navbar{
        display: flex;
        justify-content: space-around;

        gap: 200px;
        .top-min{
        font-size: 20px;
    }
    .top-pro{
        font-size: 20px;
    }
   }
   .heading{
    text-transform: capitalize;
    font-size: 60px;
    position: absolute;
    top: 40px;
   }
    .para{
        display: flex;
        position: absolute;
        top: 200px;
        gap: 40px;
        .para1{
            font-size: 20px;
            width: 25%;
        }
        .para2{
            font-size: 20px;
            width: 25%;
        }
}
.footer{
    position: absolute;
    top: 350px;
    margin-left: 30px;
    p{
        font-size: 15px;
    }
}
.img{
    img{

    }
}
}
  .container1{
    background-color: white;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 300px;
    left: 700px;
    box-shadow: -40px -40px 20px black;
  }
 h6{
    width: 30%;
    position: absolute;
    top: 150px;
    font-size: 25px;
 }
 h3{
    font-size: 20px;
    position: absolute;
    top: 360px;
 }
 .actio{
    img{
        position: absolute;
        top: 450px;
        left: 900px;
        width: 200px;
    }
 }
 .list{
    ol{
    li{
        position: relative;
        left: 1150px;
          top: 450px;
    }
    } 
}
.footer-bt{
    li{
        text-transform: capitalize;
        font-size: 20px;
        list-style: none;
        position: absolute;
        bottom: -110px;
        color: white;
    }
    h2{
        text-transform: uppercase;
        font-size: 30px;
        position: absolute;
        bottom: -150px;
        color: white;
    }
}
}